*
{
  font-family: "Sriracha";
}
#welcome-message
{
  background-image: url(../img/h_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  text-align: center;
  font-size: 50px;
}
#logo
{
  padding-top: 200px;
  padding-bottom: 50px;
}
#mouse
{
  padding-top: 195px;
  padding-bottom: 50px;
  cursor: pointer;
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce 
{
  /* Mark a starting and ending point for the animation */
  /* Translate along the y-axis to create a bouncing effect */
  from {transform: translate3d(0,0,0);}
  to{transform: translate3d(0,25px,0);} 
}
#about-us
{
  text-align:center;
  padding: 30px;
  font-size: 20px;
}
#services
{
  background-image: url(../img/s_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 125px;
}
.clickable
{
  cursor:pointer;
}
.design, .development,.product-management
{
  padding-top:20px;
}
.decrease-font
{
  font-size:30px;
  padding:15px;
}
#what-we-do
{
  text-align:center;
  padding:20px;
  font-size:18px;
}
.content-hidden
{
  display:none;
}
.col-md-3
{
  padding-bottom:10px;
}
/* Prevent the images from overlapping by constraining their width */
#portfolio img
{
  max-width:100%; 
  padding-bottom:30px;
}
/* Overlay text on image */
.content-overlay
{
  position:relative;
}
.content-title
{
  position: absolute;
  height: 88%;
  width: 100%;
  padding-top: 35%;
  text-align: center;
  background-color: rgba(241,241,241,0.5);
  left: 0;
  top: 0; 
  transition: all 0.4s ease-in-out 0s;   
  display: none;
}
#portfolio h1 
{
  text-align:center;
}
#contact
{
  position:relative;
}
#contact img 
{
  max-width:100%;
}
#contact h1 
{
  position: absolute;
  top:15%;
  left:45%;
  color:white; 
}
#contact-info
{
  position: absolute;
  top: 30%;
  left: 25%; 
}
::placeholder
{
  color:white;
}
input
{
  background-color:transparent;
  color:white;
}
#message 
{
  height:250px;
  margin-top:10px;
  padding:1px;
  float:left;
}
.button 
{
  margin-top: 10px;
  align-items: center;
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button:active 
{
  border-bottom-color: #a2a6ac;
}
  
.button:active:hover 
{
  border-bottom-color: #a2a6ac;
}
  
.button:hover 
{
  border-color: #a2a6ac #979aa1 #82858a;
}
.fa 
{
  padding: 20px;
  font-size: 35px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fa:hover
{
  opacity:0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.fa-dribbble {
  background: #ea4c89;
  color: white;
}
.fa-stumbleupon {
  background: #eb4924;
  color: white;
}
.fa-flickr {
  background: #f40083;
  color: white;
}
#social-media
{
  margin-top: 20px;
  display: flex;
  /* 'align-items' determines the vertical alignment of the container's contents */
  align-items: center;
  /* determines the horizontal alignment */
  justify-content: center;
}
#copyright p
{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
  
  



