*
{
  font-family: "Sriracha";
}
#welcome-message
{
  background-image: url(../img/h_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  text-align: center;
  font-size: 50px;
}
#logo
{
  padding-top: 200px;
  padding-bottom: 50px;
}
#mouse
{
  padding-top: 195px;
  padding-bottom: 50px;
  cursor: pointer;
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce 
{
  /* Mark a starting and ending point for the animation */
  /* Translate along the y-axis to create a bouncing effect */
  from {transform: translate3d(0,0,0);}
  to{transform: translate3d(0,25px,0);} 
}
#about-us
{
  text-align:center;
  padding: 30px;
  font-size: 20px;
}
#services
{
  background-image: url(../img/s_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 125px;
}
