*
{
  font-family: "Sriracha";
}
#welcome-message
{
  background-image: url(../img/h_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  text-align: center;
  font-size: 50px;
}
#logo
{
  padding-top: 200px;
  padding-bottom: 50px;
}
#mouse
{
  padding-top: 195px;
  padding-bottom: 50px;
  cursor: pointer;
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce 
{
  /* Mark a starting and ending point for the animation */
  /* Translate along the y-axis to create a bouncing effect */
  from {transform: translate3d(0,0,0);}
  to{transform: translate3d(0,25px,0);} 
}
#about-us
{
  text-align:center;
  padding: 30px;
  font-size: 20px;
}
#services
{
  background-image: url(../img/s_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 125px;
}
.clickable
{
  cursor:pointer;
}
.design, .development,.product-management
{
  padding-top:20px;
}
.decrease-font
{
  font-size:30px;
  padding:15px;
}
#what-we-do
{
  text-align:center;
  padding:20px;
  font-size:18px;
}
.content-hidden
{
  display:none;
}
.col-md-3
{
  padding-bottom:10px;
}
/* Prevent the images from overlapping by constraining their width */
.content-image
{
  max-width:100%; 
  padding-bottom:30px;
}
/* Overlay text on image */
.content-overlay
{
  position:relative;
}
.content-title
{
  position: absolute;
  top:50px;
  left:50px;  
  padding-top:80px;
  text-align: center;
  background-color: rgba(241,241,241,0.5);
  height: 100%;
  width: 100%;
  left: 0; 
  top: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s; 
}
.content-title:hover
{
  opacity: 1;
}






